@import "tailwindcss";

@theme {
  --inner-shadow-custom: inset 4px 4px 6px rgba(0, 0, 0, 0.25);
  --drop-shadow-custom: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Arial", sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Transparent background for the scrollbar track */
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(17, 79, 145, 0.7); /* Initial color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: none;
    transition: background-color 0.3s ease-in-out; /* Smooth transition for color change */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #2b7fff; /* Color of the thumb on hover */
  }
}